html {
  height: 100%;
  padding: 3px;
  padding-top: 10px;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Arcade Classic", "Raleway", sans-serif;
  background-color: rgba(34, 0, 49);
  background-image: linear-gradient(
      to bottom,
      rgba(9, 0, 59, 0.6),
      rgba(34, 0, 30, 0.55)
    ),
    url("images/bg.gif");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  cursor: url("./images/cursor.png"), auto;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 150px;
  margin-bottom: 100px;
}

:focus {
  outline: 0 !important;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.textblue {
  color: rgb(88, 202, 255);
}

.textyellow {
  color: rgb(255, 175, 25);
}

.textpink {
  color: rgb(250, 95, 255);
}

.breakyellow {
  color: white;
  border: 1px solid rgb(255, 255, 255);
  width: 90%;
  padding: 0px;
  margin: 0px;
}

.pagebox {
  background: rgba(0, 0, 0, 0.8);
  background-image: radial-gradient(
    ellipse at 50px 10px,
    rgba(100, 100, 100, 0.1) 0%,
    rgba(100, 100, 100, 0.1) 1%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border: 2px solid rgba(250, 95, 255, 0.75);
  border-radius: 1%;
  padding: 20px;
  min-height: 500px;
  height: auto;
}

.textspaced {
  word-spacing: 10px;
  letter-spacing: 2px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.4;
  }
}

.blink_me_slow {
  animation: blinkerslow 1.5s linear infinite;
}
@keyframes blinkerslow {
  50% {
    opacity: 0.4;
  }
}
